a {
    color: inherit;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 40vh;
    min-height: 292.2px;
    background-color: #082D41;
    display: flex;
    justify-content: center;
    position: relative;
}
footer h2{
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0;
    width: 75%;
    border-top: 2px solid #224355;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d2d2d2;
}
footer > div {
    display: flex;
    justify-content: end;
    padding-top: 15px;
}
footer > div > div {
    margin-left: 75px;
    margin-top: 40px;
    font-size: 1.4em;
}
footer > div > div img {
    width: 150px;
    height: 150px;
}
footer > div > div h1 {
    color : white;
}
footer nav {
    color: #708691;
    position: absolute;
    right: 15%;
    top: 30%;
    display: flex;
    gap: 175px;
    font-family: sans-serif;
    font-size: 1.3em;
}
nav div {
    display: flex;
    flex-direction: column;
}

@media screen and (orientation: portrait) {
    footer {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 36vh;
        width: 100%;
    }
    footer > div {
        display: flex;
        flex-direction: column;
        gap: 10%;
        width: 100%;
        align-items: center;
        padding-top: 5%;
        height: 90%;
    }
    footer nav, footer h2, footer .site-logo {
        position: relative;
    }
    footer > div > div {
        margin: 0;
    }
    footer .site-logo {
        font-size: 2.5em;
    }
    footer .site-logo img {
        width: inherit;
        height: 9vh;/*3.2%*/
    }
    footer div nav {
        height: 96.8%;
        top: 0;
        right: 0;
        font-size: 2.8em;
    }
    footer h2 {
        height: 10%;
        font-size: 2.5em;
        border-width: 6px;
        vertical-align: middle;
    }
}